.env

node_modules/
vendor/
writable/

public/uploads/
uploads/

build/
change-zips/

database/

*.zip
*.tar
*.gz
*.sql

error_log

BUSINESS_PROFILE_EDITOR_AUDIT.md
BUSINESS_PROFILE_EDITOR_SAFE_PLAN.md
CODEX_CONTEXT.md